.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #d6d1d1;
  background-color: rgb(26, 25, 25);
}

.speech-bubble {
  position: relative;
  background: #f0f0f0;
  color: black;
  border-radius: .4em;
  padding: 10px;
  margin-top: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(26, 25, 25);
  color: #d6d1d1;
}

.rock {
  max-width: 100px; 
  margin-bottom: 10px;
}

